@import url(../../../https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i);
@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4.2rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.36rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #1c3683 !important;
}
.bg-success {
  background-color: #f7d367 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #1c3683;
  border-color: #1c3683;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0f1c44;
  border-color: #0f1c44;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0f1c44 !important;
  border-color: #0f1c44 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7d367;
  border-color: #f7d367;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #f3be1e;
  border-color: #f3be1e;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #f3be1e !important;
  border-color: #f3be1e !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0a132f;
  color: #0a132f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #1c3683;
  border-color: #1c3683;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1c3683 !important;
  border-color: #1c3683 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #ecb40c;
  color: #ecb40c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7d367;
  border-color: #f7d367;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7d367 !important;
  border-color: #f7d367 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #1c3683 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7d367 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0a132f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ecb40c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1c3683;
  border-color: #1c3683;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #1c3683;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #476bd8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #1c3683;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #1c3683;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #1c3683;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #1c3683;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #1c3683;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qriPNArzHw .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-qriPNArzHw .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qriPNArzHw a {
  font-style: normal;
}
.cid-qriPNArzHw .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6rem;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qriPNArzHw .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qriPNArzHw .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qriPNArzHw .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qriPNArzHw .menu-logo {
  margin-right: auto;
}
.cid-qriPNArzHw .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qriPNArzHw .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qriPNArzHw .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qriPNArzHw .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qriPNArzHw .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qriPNArzHw button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qriPNArzHw button.navbar-toggler:focus {
  outline: none;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #073b4c;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qriPNArzHw .collapsed .btn {
  display: flex;
}
.cid-qriPNArzHw .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing,
.cid-qriPNArzHw .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qriPNArzHw .collapsed button.navbar-toggler {
  display: block;
}
.cid-qriPNArzHw .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qriPNArzHw .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qriPNArzHw .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qriPNArzHw img {
    height: 3.8rem !important;
  }
  .cid-qriPNArzHw .btn {
    display: flex;
  }
  .cid-qriPNArzHw button.navbar-toggler {
    display: block;
  }
  .cid-qriPNArzHw .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qriPNArzHw .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qriPNArzHw .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing,
  .cid-qriPNArzHw .navbar-collapse.show {
    display: block !important;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-nav,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-buttons,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qriPNArzHw .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qriPNArzHw .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qriPNArzHw .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qriPNArzHw .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qriPXSLxTB {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #f9f9f9;
}
.cid-qriPXSLxTB h2 {
  text-align: center;
}
.cid-qriPXSLxTB h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qriPXSLxTB p {
  color: #767676;
}
.cid-qriPXSLxTB .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qriPXSLxTB .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-qriPXSLxTB .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-qriPXSLxTB .mbr-section-subtitle {
  color: #767676;
}
.cid-qriPXSLxTB .card-title {
  font-weight: 500;
}
.cid-qriPXSLxTB .card-img {
  text-align: inherit;
}
.cid-qriPXSLxTB .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-qriPXSLxTB .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qriPXSLxTB .mbr-figure {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qriPXSLxTB .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .cid-qriPXSLxTB .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-qriPXSLxTB .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}
.cid-qrk1kG5Sef {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7d367;
}
.cid-qrk1kG5Sef .carousel-control {
  background: #000;
}
.cid-qrk1kG5Sef .mbr-section-subtitle {
  color: #232323;
}
.cid-qrk1kG5Sef .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qrk1kG5Sef .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qrk1kG5Sef .carousel-item .wrap-img {
  text-align: center;
}
.cid-qrk1kG5Sef .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-qrk1kG5Sef .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qrk1kG5Sef .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qrk1kG5Sef .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-qrk1kG5Sef .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-qrk1kG5Sef .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qrk1kG5Sef .cloneditem-1,
.cid-qrk1kG5Sef .cloneditem-2,
.cid-qrk1kG5Sef .cloneditem-3,
.cid-qrk1kG5Sef .cloneditem-4,
.cid-qrk1kG5Sef .cloneditem-5 {
  display: none;
}
.cid-qrk1kG5Sef .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-qrk1kG5Sef .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides2 .cloneditem-1,
  .cid-qrk1kG5Sef .carousel-inner.slides2 .cloneditem-2,
  .cid-qrk1kG5Sef .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides3 .cloneditem-1,
  .cid-qrk1kG5Sef .carousel-inner.slides3 .cloneditem-2,
  .cid-qrk1kG5Sef .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides4 .cloneditem-1,
  .cid-qrk1kG5Sef .carousel-inner.slides4 .cloneditem-2,
  .cid-qrk1kG5Sef .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides5 .cloneditem-1,
  .cid-qrk1kG5Sef .carousel-inner.slides5 .cloneditem-2,
  .cid-qrk1kG5Sef .carousel-inner.slides5 .cloneditem-3,
  .cid-qrk1kG5Sef .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qrk1kG5Sef .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qrk1kG5Sef .carousel-inner.slides6 .cloneditem-1,
  .cid-qrk1kG5Sef .carousel-inner.slides6 .cloneditem-2,
  .cid-qrk1kG5Sef .carousel-inner.slides6 .cloneditem-3,
  .cid-qrk1kG5Sef .carousel-inner.slides6 .cloneditem-4,
  .cid-qrk1kG5Sef .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-qroaRxmpf5 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f9f9f9;
}
.cid-qroaRxmpf5 .mbr-section-subtitle {
  color: #767676;
}
.cid-qroaRxmpf5 .container-table {
  margin: 0 auto;
}
.cid-qroaRxmpf5 .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qroaRxmpf5 .dataTables_wrapper {
  display: block;
}
.cid-qroaRxmpf5 .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qroaRxmpf5 .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qroaRxmpf5 table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-qroaRxmpf5 table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qroaRxmpf5 table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-qroaRxmpf5 table td {
  border-top: 1px solid #cccccc;
}
.cid-qroaRxmpf5 table.table {
  background: #1c3683;
}
.cid-qroaRxmpf5 .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qroaRxmpf5 .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qroaRxmpf5 .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qroaRxmpf5 .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qroaRxmpf5 .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qroaRxmpf5 .dataTables_filter {
    text-align: center;
  }
  .cid-qroaRxmpf5 .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qroaRxmpf5 .head-item {
  color: #f7d367;
}
.cid-qroaRxmpf5 .body-item {
  color: #ffffff;
}
.cid-qrjmpzdnOo {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/network-2000x1111.jpg");
}
.cid-qrjmpzdnOo .title {
  margin-bottom: 2rem;
}
.cid-qrjmpzdnOo .mbr-section-subtitle {
  color: #ffffff;
}
.cid-qrjmpzdnOo a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qrjmpzdnOo a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qrjmpzdnOo .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qrjmpzdnOo .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qrjmpzdnOo LABEL {
  color: #ffffff;
}
.cid-qrjmpzdnOo H2 {
  color: #ffffff;
}
.cid-qroapysk5Z {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qroapysk5Z .media-container-row .mbr-text {
  color: #1c3683;
}
.cid-qriPNArzHw .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-qriPNArzHw .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qriPNArzHw a {
  font-style: normal;
}
.cid-qriPNArzHw .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6rem;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qriPNArzHw .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qriPNArzHw .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qriPNArzHw .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qriPNArzHw .menu-logo {
  margin-right: auto;
}
.cid-qriPNArzHw .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qriPNArzHw .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qriPNArzHw .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qriPNArzHw .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qriPNArzHw .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qriPNArzHw .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qriPNArzHw .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qriPNArzHw .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qriPNArzHw .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qriPNArzHw button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qriPNArzHw button.navbar-toggler:focus {
  outline: none;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #073b4c;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qriPNArzHw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qriPNArzHw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qriPNArzHw .collapsed .btn {
  display: flex;
}
.cid-qriPNArzHw .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing,
.cid-qriPNArzHw .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qriPNArzHw .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qriPNArzHw .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qriPNArzHw .collapsed button.navbar-toggler {
  display: block;
}
.cid-qriPNArzHw .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qriPNArzHw .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qriPNArzHw .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qriPNArzHw .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qriPNArzHw img {
    height: 3.8rem !important;
  }
  .cid-qriPNArzHw .btn {
    display: flex;
  }
  .cid-qriPNArzHw button.navbar-toggler {
    display: block;
  }
  .cid-qriPNArzHw .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qriPNArzHw .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qriPNArzHw .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing,
  .cid-qriPNArzHw .navbar-collapse.show {
    display: block !important;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-nav,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-buttons,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qriPNArzHw .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qriPNArzHw .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qriPNArzHw .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qriPNArzHw .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qriPNArzHw .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qriPNArzHw .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
